.chart {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chart-shown {
  transform: scale(1.05, 1.05);
  opacity: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: fixed;
  left: 100px;
  top: 100px;
  bottom: 100px;
  right: 100px;
  width: 80%;
}

.chart-hidden {
  transform: scale(0, 0);
  opacity: 0;
}

