@import '../base/include';

.container {
  background: #fb6522;
  border: none;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: fixed;
  z-index: 500;
  bottom: 44px;
  right: 36px;
  transition: .2s ease-in-out;
  @include z-depth-4dp();
  &:after {
    content: '';
    left: 24px;
    width: 25px;
    height: 4px;
    background: white;
    display: block;
    position: absolute;
    top: 33px;
    transition: .2s ease-in-out 0s, transform .2s cubic-bezier(0.71, -0.44, 0.28, 1.46);
    transform: rotate(0deg);
  }
  &:before {
    @extend :after;
    transform: rotate(90deg);
  }

  &.secondary-side-button {
    background: #656565;
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      @extend :after;
      transform: rotate(-45deg);
    }
  }
}