.preview {
  color: initial;
  list-style: none;
  display: inline-block;
  label {
    color: initial;
    .previewImg {
      opacity: .5;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-position 1s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin: 10px 14px;
      width: 120px;
      height: 120px;
      display: inline-block;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      &:hover {
        opacity: .7;
        background-size: 110%;
      }
    }
    input {
      display: none;
    }
    input:checked ~ .previewImg {
      opacity: 1;
      transform: scale(1, 1);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      background-position: 50% 70%;
    }
  }
}

.previews {
  color: initial;
}