$header-bg-color: white;
$header-color: #5d5d5d;
$workspace-preview-bg-color: #ececec;
$workspace-preview-bg-color-hover: darken($workspace-preview-bg-color, 5%);
$workspace-name-color: #5d5d5d;
$actionColor: #fb6522;