.container {
  color: initial;
}

.grid-item {
  background: white;
  box-shadow: -1px -1px 2px 1px rgba(103, 103, 103, 0.46);
  .fullHandle {
    background-color: rgba(255, 255, 255, 0.01);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: all-scroll;
  }
  > iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .remove-grid-item {
    color: red !important;
    text-decoration: none;
    content: '';
    text-shadow: 0px 1px 1px #3a3a3a9e;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
      background: #ff2020;
      color: white !important;
    }
  }
}