@import '../styles/base/include';

.container {
  position: fixed;
  background: white;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  @media only screen and (min-width: 600px) {
    top: 64px;
    right: 20px;
    left: unset;
    border-radius: 33px;
    overflow: hidden;
    max-height: 700px;
  }
  //transition: 0.2s cubic-bezier(0.74, 0.28, 0.26, 0.92);
  //transform-origin: 90% 0%;
  //&.shown {
  //  transform: scale(1);
  //  transition: 0.2s cubic-bezier(0.43, 0.24, 0, 1.27);
  //}

  .row-body {
    height: 100%;
    display: flex;
    overflow: hidden;
    .caret {
      display: flex;
      flex-direction: column;
      min-width: 100%;
    }
    .row-body-header {
      min-height: 50px;
      background: #656565;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .row-body-header-controls {
        margin: 0 6px;
        min-width: 50px;
        min-height: 10px;
        display: flex;
        align-items: center;
        .row-body-header-back-button {
          cursor: pointer;
          transition: .2s ease-in-out;
          width: 36px;
          display: inline-flex;
          height: 36px;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &:hover {
            background: rgba(241, 241, 241, 0.06);
          }
          &:active {
            background: rgba(241, 241, 241, 0.16);
          }
        }
      }
      .row-body-header-title {
        width: 100%;
        text-align: center;
      }
    }
    .row-body-content {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      position: relative;
      .context-back-arrow {
        position: absolute;
        z-index: 10;
        bottom: 104px;
        right: 14px;
        background: #656565;
        color: white;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include z-depth-4dp();
        @media only screen and (min-width: 600px) {
          display: none;
        }
      }
    }
    .row-body-search {
      _: _;
      input {
        border: none;
        border-radius: 0;
        width: 100%;
        padding: 0 15px;
        margin: 0;
        height: 42px;
        background: #F1F1F1;
      }
    }
  }
}

.fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.45);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  .list-item {
    border-bottom: 1px solid #eaeaea;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgb(245, 245, 245);
    }
    .select-indicator {
      border: 1px solid $actionColor;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
    .select-indicator-active {
      @extend .select-indicator;
      &:after {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: $actionColor;
        border-radius: 50%;
      }
    }
    .list-item-image {
      display: inline-block;
      width: 44px;
      height: 44px;
      background-position: 50%;
      background-size: cover;
      margin-right: 15px;
    }
    .list-item-text {
      _: _;
    }
  }
}

.fancy {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: all 200ms ease-out;
}

.fancy-enter {
  @extend .fancy;
  opacity: 0.01;
  //transform: translateY(100%);
}

.fancy-enter-active {
  @extend .fancy;
  opacity: 1;
  //transform: translateY(0%);
}

.fancy-exit {
  @extend .fancy;
  opacity: 1;
  //transform: translateY(0%);
}

.fancy-exit-active {
  @extend .fancy;
  opacity: 0.01;
  //transform: translateY(100%);
}

.triangle {
  display: none;
  @media only screen and (min-width: 600px) {
    display: block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 20px solid #656565;
    position: absolute;
    top: 44px;
    right: 64px;
    z-index: 90;
  }
}
